1) Create three variables one for int, one for float, one for boolean and print its data type.

In [ ]:
num  = int() # initialize with int value
avg = float() # initialize with float value
flag = bool() # True or False
print(f'The data type of num is {type(num)}')
print(f'The data type of avg is {type(avg)}')
print(f'The data type of flag is {type(flag)}')

The data type of num is <class 'int'>
The data type of avg is <class 'float'>
The data type of flag is <class 'bool'>

Alternatively, initialize the variables with values.

num = 10     # int value

avg = 3.14   # float value

flag = True  # bool value

print(f'The data type of num is {type(num)}')

print(f'The data type of avg is {type(avg)}')

print(f'The data type of flag is {type(flag)}')

2) Create two strings **first_name** and **last_name** and combine those two strings and print it.

In [ ]:
first_name = 'Subash'
last_name = 'Mainali'
full_name = first_name + ' ' + last_name
print(f'My name is {full_name}')

My name is Subash Mainali

3) Write Python code to print the length of a string.

In [ ]:
country = "Nepal"
print(f'The length of word \'{country}\' is {len(country)}')

The length of word 'Nepal' is 5

4) Given,

```
  my_var = 'Nepal Research and Collaboration Centre'

```
  1. pring every other letter using slicing.
  2. print only **Nepal** using slicing.
  3. print only **Collaboration Centre** using slicing.
  4. print **Research and Collaboration Centre** using slicing.
  5. print **Research Collaboration** using slicing and     concatenation.

In [ ]:
my_var = 'Nepal Research and Collaboration Centre'
print(f'Every other letter : {my_var[::2]}')
print(f'Only Nepal : {my_var[0:5]}')
print(f'Only Collaboration Centre : {my_var[19:]}')
print(f'Research and Collaboration Centre : {my_var[6:]}')
print(f'Research Collaboration using slicing and concatenation : {my_var[6:15] + my_var[19:32]}')

Every other letter : NplRsac n olbrto ete
Only Nepal : Nepal
Only Collaboration Centre : Collaboration Centre
Research and Collaboration Centre : Research and Collaboration Centre
Research Collaboration using slicing and concatenation : Research Collaboration

5) Given,

```
first_name = 'john'
last_name = 'doe'
```

print John Doe using slicing and using only .upper().

In [ ]:
first_name = 'john'
last_name = 'doe'
# No concatenation, only slicing and .upper()
print(f'The name is: {first_name[0].upper()}{first_name[1:]} {last_name[0].upper()}{last_name[1:]}')

The name is: John Doe

6) Given,

`students = ['ram', 'hari']`

1. add rita to the last position
2. add shyam to the second index
3. remove hari by index
4. remove ram by value
5. empty the list

In [ ]:
students = ['ram', 'hari']
students.append('rita')
print(students)
students.insert(1, 'shyam')
print(students)
students.pop(2) # hari by index
print(students)
students.remove('ram') # ram by value
print(students)
students.clear() # empty the list
print(students)

['ram', 'hari', 'rita']
['ram', 'shyam', 'hari', 'rita']
['ram', 'shyam', 'rita']
['shyam', 'rita']
[]