1) Given,

      name = 'Nepal Research and Collaboration Center'

a) Print only Collaboration using slicing

In [ ]:
name = 'Nepal Research and Collaboration Center'
print(name[18:33])

 Collaboration

b) print every other letter using slicing

In [ ]:
print(name[::2])

NplRsac n olbrto etr

c) Print Nepal using slicing

In [ ]:
print(name[:5])

Nepal

2) Given the name and grade of the students,

    ram -> 25, shyam -> 32, hari -> 45

a) Store the above data in a suitable data structure

In [ ]:
grades = {'ram':25, 'shyam':32, 'hari':45}

b) add the grade of rita -> 52 to the above dictionary

In [ ]:
grades['rita'] = 50
grades

{'ram': 25, 'shyam': 32, 'hari': 45, 'rita': 50}

c) delete the grade of shyam from above dictionary

In [ ]:
grades.pop('shyam')
grades

{'ram': 25, 'hari': 45, 'rita': 50}

Given the name and grade of students:

  ram -> 92, shyam -> 82, hari -> 75, rita -> 25

*   Store it in a suitable data structure
*   Write a code that allows user to input their name and prints:

    i) Congratulations **user's_name**. You passed with distinction. (if the grade is greater than or equals to 80)

    ii) Congratulations **user's_name**. You passed with first division (if the grade is greater than or equals to 60 and less than 80)

    iii) Congratulations **user's_name**. You passed with second division (if the grade is greater than or equals to 50 and less than 60)

    iv) Sorry **user's_name**. You failed the test  (if the grade is lower than 50.)

In [ ]:
# Assumption, valid names will be entered.
std_grades ={'ram':92, 'shyam':82, 'hari':75, 'rita':25}
name = input('Enter your name : ').lower()
if name in std_grades.keys():
  if std_grades[name] >= 80:
    print(f'Congratulations {name.capitalize()}. You passed with distinction.')
  elif std_grades[name] < 80 and std_grades[name] >= 60:
    print(f'Congratulations {name.capitalize()}. You passed with first division.')
  elif std_grades[name] < 60 and std_grades[name] >= 50:
    print(f'Congratulations {name.capitalize()}. You passed with second division.')
  else:
    print(f'Sorry {name.capitalize()}. You failed the test.')
else:
  print('Record non existent, enter valid name.')

Enter your name : HaRi
Congratulations Hari. You passed with first division.